<div class="jumbotron">
  <div class="container">
    <h1>Welcome to Eco Coast</h1>
      <p>Your source for eco friendly products</p>

      <%= image_tag("EcoCoast.jpg", class: "img-responsive") %>

      